.banner {
  width: 100%;
}

.banner > img {
  width: 100%;
  height: 600px;
  position: relative;
}

.banner > p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 60px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-color);
}
