/* variables */
:root{
    --main-color: #d7b659;
    --black-color: #000;
    --white-color: #fff;
}

*{
    margin:0;
    padding:0;
    text-decoration: none;
  }

main{
    width: 100%;
    padding: 20px;
  }

  ul{
    list-style: none;
  }

  a{
    text-decoration: none;
  }


  .ant-menu-item-selected{
    background-color: var(--main-color) !important;
    color: var(--white-color) !important;
  }