.footer {
    background: url(../../images/bg-footer.jpg);
    background-size: cover;
    background-position: top center;
    margin-top: 0;
    padding-top: 70px;
    position: relative;
}

.footer-top {
    border-bottom: 1px solid #adadad4d;
    overflow: hidden;
    padding-bottom: 35px;
}

.footer-top .footer-item .footer-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #d7b659;
    margin: 0 0 30px;
}

.footer-top .footer-item .address {
    padding-left: 24px;
    background: url(../../images/icon/loc-F.png) no-repeat left;
    background-position: 0px 5px;
}

.footer-top .footer-item .phone {
    padding-left: 24px;
    background: url(../../images/icon/phone-F.png) no-repeat left;
    background-position: 0px 8px;
}

.footer-top .footer-item .mail {
    padding-left: 26px;
    background: url(../../images/icon/mail-F.png) no-repeat left;
    background-position: 0px 9px;    
}

.footer-top .footer-item .web {
    padding-left: 24px;
    background: url(../../images/icon/web-F.png) no-repeat left;
    background-position: 0px 8px;
}

.footer-top .footer-item p {
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    color: #bfbfbf;
}

.footer-top .footer-item p a {
    color: #bfbfbf;
}

.footer-list ul li a {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    color: #bfbfbf;
}

footer a:hover {
    color: #d7b659 !important;
}

.footer-item .form-letter input {
    padding: 5px 15px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #cbcbcb;
    width: 80%;
}

.footer-item .form-letter input::placeholder {
    font-size: 14px;
}

.footer-item .form-letter button {
    width: 20%;
    height: 40px;
    background-color: #d7b659;
    border-radius: 0 5px 5px 0;
    background-image: url(../../images/icon/btn-letter.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.footer-item .footer-social a {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 50%;
    color: #bfbfbf;
    margin-right: 6px;
    margin-top: 24px;
}

.footer-bottom {
    padding: 30px 0;
}

.footer-bottom .footer-left ul li {
    position: relative;
    padding-left: 8px;
}

.footer-bottom .footer-left ul li:first-child {
    padding-left: 0;
}


.footer-bottom .footer-left ul li a {
    color: #bfbfbf;
    font-size: 14px;
    font-weight: 300;
    border-right: 1px solid #bfbfbf;
    padding-right: 8px;
}

.footer-bottom .footer-left ul li:last-child a {
    border-right: none;
}

.footer-bottom .footer-right p {
    font-size: 14px;
    color: #bfbfbf;
    text-align: center;
}

.footer::before {
    position: absolute;
    content: '';
    bottom: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    height: 30px;
    width: 100%;
    background: url(../../images/icon/footer-t.png);
    background-position: center;
}