.header{
    display: flex;
}

/* header logo */
.header-logo{
    width: 20%;
}


/* header nav */
.header-nav{
    width: 80%;
}


/* nav top */
.nav-top{
    display: flex;
    justify-content: flex-end;
}

.nav-top > .search-box{
    display: inline-block;
    position: relative;
    width: 256px;
    top: 4px;
}

.nav-top > .search-box > .search{
    width: 100%;
    border-radius: 20px;
    padding: 2px 16px;
    border: 1px solid rgb(129, 129, 129);
    background-color: #f8f7f5;
}

.nav-top > .search-box > .search-btn{
    position: absolute;
    right: 1px;
    width: 30px;
    height: 30px;
    border: none;
    background: url(../../images/icon/search-top.png) left center no-repeat;
}

.nav-top .language{
    display: inline-block;
    position: relative;
    color: #1b1b1b;
    padding: 6px 12px;
    border: 1px solid #818181;
    border-radius: 16px;
    margin-right: 36px;
    background: #f8f7f5;
    margin-bottom: 24px;
    border: none;
}

.nav-top .language #lang-list{
    border: none;
    padding-left: 28px;
    padding-right: 8px;
    background: url(../../images/icon/language.png);
    background-repeat: no-repeat;
    background-position: left;
}

.nav-top .btn-book {
    display: inline-block;
    height: fit-content;
    margin-right: 56px;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 14px;
    color: #181200 !important;
    background-image: url(../../images/bg-book.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 24px;
}

.nav-top div{
    margin: 0 20px;
}


/* nav bottom */
.nav-bottom {
    width: 100%;
}

.nav-menu{
    display: flex;
    justify-content: space-around;
}

.nav-menu li a {
    margin-right: 20px;
    font-size: 14px;
    padding: 12px;
    font-weight: bold;
    text-decoration: none;
}

.nav-menu li a:hover {
    background-image: url(../../images/bg-titH2.png);
    background-size: 100% 28px;
    background-repeat: no-repeat;
    background-position: left;
    transition: all .15s;
    color: #181200;
}




/* Responsive nav */
.nav-btn {
    display: none;
    width: 38px;
    height: 38px;
    margin: 40px 56px 0 20px;
    border: none;
    background-color: transparent;
}

.nav-btn:hover {
    background-color: #d7b659;
    cursor: pointer;
}

.nav-btn i {
    font-size: 26px;
    padding: 6px;
}

.nav-sm {
    position: absolute;
    top: 110%;
    right: 0;
    z-index: 90;
    width: 100vw;
    height: 100vh;
    background-image: url(../../Assets/img/bg-header.jpg);
    display: none;
}

.nav-sm .nav-menu {
    border-bottom: 1px solid #999;
}

.nav-sm .nav-menu li {
    margin: 16px 50px;
}

.nav-sm .nav-menu li a {
    font-size: 16px;
}

.form-lang {
    margin-left: 62px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.form-lang .lang-res {
    padding: 12px;
    width: 90%;
    background-color: #d7b659;
}

.book-res {
    position: fixed;
    font-size: 20px;
    width: 52px;
    height: 52px;
    line-height: 50px;
    background-color: #f00;
    z-index: 99;
    right: 16px;
    bottom: 30px;
    border-radius: 50%;
    border: none;
    display: none;
}

.book-res a {
    color: #fff;
}

@media only screen and (max-width: 991.9px) {
    .language { display: none !important;}
    .btn-book { display: none !important;}
    .nav-bottom { display: none;}
    .header-nav { display: flex;}
    .search-box { margin-top: 20px;}
    .nav-btn{ display: block;}
    .book-res { display: block;}
}

@media only screen and (min-width: 992px) and (max-width: 1199.9px) {
    .nav-top .search-box { 
        width: 200px;
        margin-bottom: 20px;
    }
    .nav-top .search-box .search{
        padding: 4px 12px;
    }
    .nav-top .search-box .search-btn {
        top: 2px;
    }
    .nav-top .language {
        padding: 4px 8px;
        margin-right: 24px;
        margin-bottom: 20px;
    }
    .nav-top .btn-book {
        font-size: 12px;
        font-weight: 900;
    }
    .nav-menu li a {
        margin-right: 0;
        font-size: 12px;
        font-weight: 900;
    }
}