/* Menu */
.menu-box {
    padding-bottom: 80px;
}

.menu-item {
    width: 100%;
    position: relative;
    padding: 3px 3px 0;
    margin-bottom: 40px;
}

.menu-item::before {
    background: url('../../images/icon/menu-k-t.png');
    background-size: 100% 7px;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-item::after {
    background: url('../../images/icon/menu-k-b.png');
    background-size: 100% 7px;
    bottom: -3px;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-item::before, .menu-item::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 7px;
    z-index: 1;
}

.menu-item .menu-img {
    display: block;
    width: 100%;
    height: 251px;
    overflow: hidden;
}

.menu-item .menu-img img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
    transition: all .35s linear;
}

.menu-item:hover .menu-img img {
    transform: scale(1.2);
}

.menu-item .menu-img::before {
    background: url('../../images/icon/menu-k-l.png');
    background-size: 7px 100%;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-item .menu-img::after {
    background: url('../../images/icon/menu-k-r.png');
    background-size: 7px 100%;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-item .menu-img::before, .menu-item .menu-img::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 7px;
    z-index: 1;
}

.menu-item .menu-title {
    position: absolute;
    bottom: 2px;
    left: 2px;
    right: 2px;
    height: 54px;
    padding: 3px 30px;
    background: rgba(0, 0, 0, 0.7);
    display: table;
    width: calc(100% - 5px);
}

.menu-item .menu-title h3 {
    margin: 0;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.menu-item .menu-title h3 a {
    font-family: 'UTM-Hanzel';
    display: inline-block;
    max-height: 48px;
    color: inherit;
}

.pagination{
    display: inline !important;
}

#pagination-menu{
    display: flex;
}