.page-news {
  padding: 50px 0 80px;
  position: relative;
  background-image: url("../../images/icon/bg.jpg");
}

.news-box {
  position: relative;
}

.news-box .item {
  display: flex;
  margin-bottom: 40px;
}

.item-img {
  width: 50%;
}

.item-img img {
  width: 100%;
  height: 100%;
}

.item-content {
  float: left;
  width: calc(100% - 600px);
  height: 287px;
  padding-left: 47px;
  padding-right: 95px;
  display: table;
  width: 50%;
  z-index: 1;
}

.item-content-container {
  display: table-cell;
  vertical-align: middle;
}

.item-content-container h3 {
  margin: 10 0 15px;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  text-transform: uppercase;
  font-weight: bolder;
  transition: 0.3s;
  color: #570157;
  cursor: pointer;
}

.item-content-container p {
  font-size: 15px;
  line-height: 24px;
  color: #000;
  max-height: 120;
  overflow: hidden;
}

.item-content-container .read-more {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.item::before {
  right: 0;
  background: url("../../images/icon/news-k-r.png");
  background-size: 10px 100%;
  background-position: right;
}

.item::after {
  left: 0;
  background: url("../../images/icon/news-k-l.png");
  background-size: 10px 100%;
  background-repeat: no-repeat;
  background-position: left;
}

.item::before,
.item::after {
  content: "";
  position: absolute;
  width: 10px;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.item {
  position: relative;
}

.item-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.item-border::before {
  top: 0;
  background: url("../../images/icon/news-k-t.png");
  background-size: 100% 10px;
  background-repeat: no-repeat;
}

.item-border::after {
  bottom: 0;
  background: url("../../images/icon/news-k-b.png");
  background-size: 100% 10px;
  background-repeat: no-repeat;
}

.item-border::before,
.item-border::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 10px;
  z-index: 1;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .banner-title .desc h1 span {
    font-size: 30px !important;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .banner-title {
    height: 270px;
  }

  .banner-title .desc h1 span {
    font-size: 30px !important;
  }

  .item {
    display: block !important;
    height: 600px;
  }

  .item-img {
    width: 100%;
    height: 50%;
  }

  .item-img img {
    width: 100%;
    height: 100%;
  }

  .item-content {
    width: 100%;
    height: 50%;
  }

  .item-content img {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .banner-title {
    height: 270px;
  }

  .banner-title .desc h1 span {
    font-size: 30px !important;
  }

  .item {
    display: block !important;
    height: 500px;
  }

  .item-img {
    width: 100%;
  }

  .item-img img {
    width: 100%;
  }

  .item-content {
    width: 100%;
    height: 50%;
  }
}
