.create-banner {
  border: 1px solid #dbdbdb;
}

.create-banner p {
  font-size: 20px;
}

.create-banner-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.create-banner .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-banner img {
  border: 1px solid gray;
  height: 300px;
  width: 700px;
  object-fit: cover;
  border: 1px solid #a3a3a3;
}

.render-banner {
  width: 100%;
}
