.create-banner{
  
}

.create-banner p{
  font-size: 20px;
}

.create-banner-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.create-banner .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-banner img {
  border: 1px solid ;
  height: 300px;
  width: 700px;
  object-fit: cover;
  border: 1px solid #a3a3a3;
}

.create-banner button {
  font-size: 1rem;
  max-width: 100px;
  background-color: #0fad29;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
  cursor: pointer;
}

.create-banner button:hover{
  opacity: 0.9;
}

.render-banner{

}

.render-banner .item{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item{
  display: flex;
  gap: 20px;
}

.item img {
  width: 400px;
  height: 150px;
  object-fit: cover;
  border: 1px solid #a3a3a3;
}

.item .url{
 
}
