.banner{
  text-align: center;
  margin: 30px;
}

.container{
  max-width: 1200px;
  min-height: 500px;
  margin: 0 auto;
  display: block;
}



.render-banner{

}

.banner-container{
  display: flex;
  height: 100px;
  margin: 10px 0;
  border: 1px solid gray;
}

.banner-container .form{
  display: flex;
}

.item{
  display: flex;
  min-width: 180px;
  padding: 0 20px;
}

.item img{
  width: 300px;
}

.form-control{
  width: 100%;
  
}

.update{
  min-height: 300px;
  border: 1px solid gray;
}

.form-update{
  text-align: left;
  display: block;
}
