.header {
  padding-top: 17px;
  background: url(../../assets/images/bg-header.jpg);
  position: relative;
  z-index: 999;
}
.header::after {
  content: '';
  position: absolute;
  bottom: -49px;
  left: 0;
  right: 0;
  height: 50px;
  background: url(../../assets/images/bg-header.png) bottom;
}
.header .headerContainer {
  padding: 0 15px;
  margin: auto;
}
.header .headerContainer::before, .header .headerContainer::after {
  content: '';
  display: table;
}
.header .headerContainer::after {
  clear: both;
}
.header .headerContainer .headerLogo {
  float: left;
}
.header .headerContainer .headerRight {
  float: right;
}
.header .headerContainer .headerRight .headerTop {
  text-align: right;
  height: 40px;
  z-index: 100;
}
.header .headerContainer .headerRight .headerTop #touchOpen {
  display: block;
  position: absolute;
  right: 22px;
  width: 40px;
  height: 32px;
  top: 63px;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border: 3px solid #f3c441;
}
.header .headerContainer .headerRight .headerTop #touchOpen span {
  position: absolute;
  width: 24px;
  height: 3px;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f3c441;
  left: 50%;
  border-radius: 6px;
}
.header .headerContainer .headerRight .headerTop #touchOpen span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f3c441;
  left: 0;
  top: 7px;
}
.header .headerContainer .headerRight .headerTop #touchOpen span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f3c441;
  left: 0;
  top: -7px;
}
.header .headerContainer .headerRight .headerTop .formSearch {
  margin: 4px 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.header .headerContainer .headerRight .headerTop .formSearch input {
  width: 225px;
  border: 1px solid #818181;
  border-radius: 20px;
  line-height: 24px;
  padding: 3px 15px;
  padding-right: 40px;
  background: #f8f7f5;
  transition: all 0.35s;
}
.header .headerContainer .headerRight .headerTop .formSearch input:focus {
  border-color: #d7b659;
}
.header .headerContainer .headerRight .headerTop .formSearch button {
  position: absolute;
  right: 1px;
  width: 33px;
  height: 30px;
  top: 1px;
  border: none;
  background: url(../../assets/images/icon/search-top.png) left center no-repeat;
}
.header .headerContainer .headerRight .headerTop .language {
  display: inline-block;
  vertical-align: top;
  margin: 4px 0;
  border-radius: 16px;
  border: 1px solid #818181;
  background: #f8f7f5;
  margin-left: 10px;
  padding: 3px 11px;
  position: relative;
  z-index: 100;
}
.header .headerContainer .headerRight .headerTop .language .langActive {
  padding-left: 28px;
  line-height: 24px;
  background: url(../../assets/icon/language.png);
  background-repeat: no-repeat;
  background-position: left;
  color: #1b1b1b;
  padding-right: 15px;
  position: relative;
  z-index: 100;
  cursor: pointer;
  transition: all 0.35s;
}
.header .headerContainer .headerRight .headerTop .language .langActive:hover {
  color: #d7b659;
}
.header .headerContainer .headerRight .headerTop .language .langActive::after {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-top-color: black;
  top: 10px;
  right: 0;
}
.header .headerContainer .headerRight .headerTop .language ul {
  display: none;
  list-style: none;
  text-align: center;
  padding: 5px 0;
  margin: 5px 0 0;
}
.header .headerContainer .headerRight .headerTop .language ul li a {
  display: block;
}
.header .headerContainer .headerRight .headerTop .language ul li a:hover {
  color: #d7b659;
}
.header .headerContainer .headerRight .headerTop .btnBook {
  display: inline-block;
  margin: 4px 0;
  line-height: 24px;
  padding: 4px 20px;
  background: url(../../assets/images/bg-book.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 20px;
}
.header .headerContainer .headerRight .headerTop .btnBook .linkBook {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #181200;
}
.header .headerContainer .headerRight #sticker ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header .headerContainer .headerRight #sticker ul {
  padding: 8px 0 5px;
  z-index: 90;
}
.header .headerContainer .headerRight #sticker ul > li {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
.header .headerContainer .headerRight #sticker ul > li .link {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 36px;
  display: block;
  color: #1b1b1b;
  position: relative;
  overflow: hidden;
}
.header .headerContainer .headerRight #sticker ul > li .link:before {
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  transform: translate(-100%, 0);
  background: url(../../assets/images/bg-titH2.png);
  background-size: 100% 28px;
  background-repeat: no-repeat;
  background-position: left 4px;
  transition: all 0.15s;
  opacity: 0;
}
.header .headerContainer .headerRight #sticker ul > li .link:hover:before, .header .headerContainer .headerRight #sticker ul > li .link.active:before {
  transform: none;
  opacity: 1;
}
.header .headerContainer .headerRight #sticker ul > li .link > span {
  position: relative;
}
@media (min-width: 1199px) {
  .headerContainer {
    max-width: 1200px;
    width: 100%;
  }
  #sticker > ul > li > a {
    padding: 0 15px;
  }
}
@media (min-width: 1359px) {
  .headerContainer {
    max-width: 1320px;
    width: 100%;
  }
  #sticker > ul > li > a {
    padding: 0 20px;
  }
}
