/* variables */
:root{
    --main-color: #d7b659;
    --black-color: #000;
    --white-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--black-color);
    
}

a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
}