* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  
  body {
    background-color: #d7b659;
    margin-top: 80px;
  }
  
  .position-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .mb-20px {
    margin-bottom: 20px !important;
  }
  
  /* BANNER TITLE */
  .banner {
    position: relative;
  }
  
  .banner-title {
    position: relative;
    z-index: 0;
  }
  
  .avt {
    width: 100%;
    height: 480px;
  }
  
  .avt img {
    width: 100%;
    height: 100%;
  }
  
  .banner-title .desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .desc h1 span {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
  }
  
  .desc img {
    width: 100%;
    height: 15px;
  }
  
  /* BANNER WELCOME */
  .top-connect {
    width: 100%;
    position: absolute;
    bottom: -5px;
    z-index: 2;
  }
  
  .top-connect img {
    width: 100%;
  }
  .about-intro {
    background-color: #d7b659;
    width: 100%;
    height: 400px;
    position: relative;
  }
  
  .container h2 {
    font-weight: 400;
    font-size: 30px;
    padding: 20px 0px;
  }
  
  .container h2 b {
    font-size: 40px;
    text-transform: uppercase;
  }
  
  .detail_ .text-center {
    line-height: 1.5;
    font-weight: 600;
    font-size: 14px;
  }
  
  /* LIST ABOUT US */
  
  .item-abu {
    position: relative;
    z-index: 0;
  }
  
  .abu-content {
    position: relative;
    display: flex;
  }
  
  .abu-content > .avt {
    width: 100%;
    z-index: 1;
  }
  
  .abu-content > .avt > img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .abu-content > .desc {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    padding: 4.2rem;
  }
  
  .abu-content > .desc > h3 {
    font-size: 28px;
    color: #d7b659;
    text-transform: uppercase;
  }
  
  .detail {
    height: 100%;
  }
  
  .content-wrapp > .detail > p {
    color: #fff;
    font-size: 16px;
  }
  
  .abu-content > .special {
    left: 0;
  }
  .item-abu > .top-connect {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 50px;
    margin-top: -1px;
  }
  
  .item-abu > .top-connect > img {
    border-color: #d7b659;
    transform: rotate(3.142rad);
  }
  
  .item-abu > .bottom-connect {
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 50px;
    margin-bottom: -1px;
  }
  
  .item-abu > .bottom-connect > img {
    border-color: #d7b659;
    width: 100%;
    height: 100%;
  }
  
  .a-left {
    margin-right: 10px;
  }
  
  /* RESPONSIVE */
  @media (min-width: 992px) and (max-width: 1199px) {
    .content-wrapp > .detail > p {
      font-size: 13px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    .content-wrapp > .detail > p {
      font-size: 12px;
    }
  }
  
  @media (max-width: 767px) {
    .banner-title .avt {
      height: 182px;
    }
  
    .desc h1 span {
      font-size: 30px;
    }
  
    .content-wrapp > .detail > p {
      font-size: 8px;
    }
  
    .container {
      width: 100%;
    }
  
    .container h2 {
      display: block;
    }
  
    .abu-content {
      display: block;
    }
  
    .abu-content .avt img {
      vertical-align: middle;
    }
  
    .abu-content .desc {
      width: 100%;
      position: relative;
      padding: 30px 0 50px;
    }
  
    .abu-content .desc h3 {
      font-size: 20px;
    }
  
    .item-abu .avt {
      height: 220px;
    }
  
    .detail p {
      margin: 0 0 10px;
      font-size: 16px;
    }
  }
  
  /* RESPONSIVE */
  @media (min-width: 992px) and (max-width: 1199px) {
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
  }
  
  @media (max-width: 768px) {
    .top-connect {
      margin-top: -3px !important;
    }
  
    .bottom-connect {
      height: 20px !important;
    }
  }
  