.create-banner{
  text-align: center;
}

.container{
  display: flex;
}

.form{
  margin: auto;
  /* max-width: 600px; */
  border: 1px solid gray;
  padding: 20px;
}

.form-group{
  text-align: left;
  padding: 10px 0;
  display: flex;
}

label{
  width: 100px;
}
